.loginButton {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
 
}
/* style={{ 
    width: "200px",
    height: "200px",
    background: "url(Images/kakaobutton.png)"}} */